clab-dci/ansible-inventory.yml
clab-dci/authorized_keys
clab-dci/topology-data.json
clab-dci/.tls/ca/ca.key
clab-dci/.tls/ca/ca.pem
clab-dci/dc1-leaf1a/flash/.assetTags
clab-dci/dc1-leaf1a/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf1a/flash/boot-config
clab-dci/dc1-leaf1a/flash/if-wait.sh
clab-dci/dc1-leaf1a/flash/kickstart-config
clab-dci/dc1-leaf1a/flash/SsuRestore.log
clab-dci/dc1-leaf1a/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf1a/flash/startup-config
clab-dci/dc1-leaf1a/flash/system_mac_address
clab-dci/dc1-leaf1a/flash/aboot/update/history
clab-dci/dc1-leaf1a/flash/persist/clock
clab-dci/dc1-leaf1a/flash/persist/local
clab-dci/dc1-leaf1a/flash/persist/messages
clab-dci/dc1-leaf1a/flash/persist/secure
clab-dci/dc1-leaf1a/flash/persist/sys
clab-dci/dc1-leaf1a/flash/schedule/tech-support/dc1-leaf1a_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-leaf1b/flash/.assetTags
clab-dci/dc1-leaf1b/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf1b/flash/boot-config
clab-dci/dc1-leaf1b/flash/if-wait.sh
clab-dci/dc1-leaf1b/flash/kickstart-config
clab-dci/dc1-leaf1b/flash/SsuRestore.log
clab-dci/dc1-leaf1b/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf1b/flash/startup-config
clab-dci/dc1-leaf1b/flash/system_mac_address
clab-dci/dc1-leaf1b/flash/aboot/update/history
clab-dci/dc1-leaf1b/flash/persist/clock
clab-dci/dc1-leaf1b/flash/persist/local
clab-dci/dc1-leaf1b/flash/persist/messages
clab-dci/dc1-leaf1b/flash/persist/secure
clab-dci/dc1-leaf1b/flash/persist/sys
clab-dci/dc1-leaf1b/flash/schedule/tech-support/dc1-leaf1b_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-leaf1c/flash/.assetTags
clab-dci/dc1-leaf1c/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf1c/flash/boot-config
clab-dci/dc1-leaf1c/flash/if-wait.sh
clab-dci/dc1-leaf1c/flash/kickstart-config
clab-dci/dc1-leaf1c/flash/SsuRestore.log
clab-dci/dc1-leaf1c/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf1c/flash/startup-config
clab-dci/dc1-leaf1c/flash/system_mac_address
clab-dci/dc1-leaf1c/flash/aboot/update/history
clab-dci/dc1-leaf1c/flash/persist/clock
clab-dci/dc1-leaf1c/flash/persist/local
clab-dci/dc1-leaf1c/flash/persist/messages
clab-dci/dc1-leaf1c/flash/persist/secure
clab-dci/dc1-leaf1c/flash/persist/sys
clab-dci/dc1-leaf1c/flash/schedule/tech-support/dc1-leaf1c_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-leaf2a/flash/.assetTags
clab-dci/dc1-leaf2a/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf2a/flash/boot-config
clab-dci/dc1-leaf2a/flash/if-wait.sh
clab-dci/dc1-leaf2a/flash/kickstart-config
clab-dci/dc1-leaf2a/flash/SsuRestore.log
clab-dci/dc1-leaf2a/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf2a/flash/startup-config
clab-dci/dc1-leaf2a/flash/system_mac_address
clab-dci/dc1-leaf2a/flash/aboot/update/history
clab-dci/dc1-leaf2a/flash/persist/AsuEvent.log
clab-dci/dc1-leaf2a/flash/persist/clock
clab-dci/dc1-leaf2a/flash/persist/local
clab-dci/dc1-leaf2a/flash/persist/messages
clab-dci/dc1-leaf2a/flash/persist/secure
clab-dci/dc1-leaf2a/flash/persist/sys
clab-dci/dc1-leaf2a/flash/schedule/tech-support/dc1-leaf2a_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-leaf2b/flash/.assetTags
clab-dci/dc1-leaf2b/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf2b/flash/boot-config
clab-dci/dc1-leaf2b/flash/if-wait.sh
clab-dci/dc1-leaf2b/flash/kickstart-config
clab-dci/dc1-leaf2b/flash/SsuRestore.log
clab-dci/dc1-leaf2b/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf2b/flash/startup-config
clab-dci/dc1-leaf2b/flash/system_mac_address
clab-dci/dc1-leaf2b/flash/aboot/update/history
clab-dci/dc1-leaf2b/flash/persist/clock
clab-dci/dc1-leaf2b/flash/persist/local
clab-dci/dc1-leaf2b/flash/persist/messages
clab-dci/dc1-leaf2b/flash/persist/secure
clab-dci/dc1-leaf2b/flash/persist/sys
clab-dci/dc1-leaf2b/flash/schedule/tech-support/dc1-leaf2b_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-leaf2c/flash/.assetTags
clab-dci/dc1-leaf2c/flash/AsuFastPktTransmit.log
clab-dci/dc1-leaf2c/flash/boot-config
clab-dci/dc1-leaf2c/flash/if-wait.sh
clab-dci/dc1-leaf2c/flash/kickstart-config
clab-dci/dc1-leaf2c/flash/SsuRestore.log
clab-dci/dc1-leaf2c/flash/SsuRestoreLegacy.log
clab-dci/dc1-leaf2c/flash/startup-config
clab-dci/dc1-leaf2c/flash/system_mac_address
clab-dci/dc1-leaf2c/flash/aboot/update/history
clab-dci/dc1-leaf2c/flash/persist/clock
clab-dci/dc1-leaf2c/flash/persist/local
clab-dci/dc1-leaf2c/flash/persist/messages
clab-dci/dc1-leaf2c/flash/persist/secure
clab-dci/dc1-leaf2c/flash/persist/sys
clab-dci/dc1-leaf2c/flash/schedule/tech-support/dc1-leaf2c_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-spine1/flash/.assetTags
clab-dci/dc1-spine1/flash/AsuFastPktTransmit.log
clab-dci/dc1-spine1/flash/boot-config
clab-dci/dc1-spine1/flash/if-wait.sh
clab-dci/dc1-spine1/flash/kickstart-config
clab-dci/dc1-spine1/flash/SsuRestore.log
clab-dci/dc1-spine1/flash/SsuRestoreLegacy.log
clab-dci/dc1-spine1/flash/startup-config
clab-dci/dc1-spine1/flash/system_mac_address
clab-dci/dc1-spine1/flash/aboot/update/history
clab-dci/dc1-spine1/flash/persist/clock
clab-dci/dc1-spine1/flash/persist/local
clab-dci/dc1-spine1/flash/persist/messages
clab-dci/dc1-spine1/flash/persist/secure
clab-dci/dc1-spine1/flash/persist/sys
clab-dci/dc1-spine1/flash/schedule/tech-support/dc1-spine1_tech-support_2023-11-29.1803.log.gz
clab-dci/dc1-spine2/flash/.assetTags
clab-dci/dc1-spine2/flash/AsuFastPktTransmit.log
clab-dci/dc1-spine2/flash/boot-config
clab-dci/dc1-spine2/flash/if-wait.sh
clab-dci/dc1-spine2/flash/kickstart-config
clab-dci/dc1-spine2/flash/SsuRestore.log
clab-dci/dc1-spine2/flash/SsuRestoreLegacy.log
clab-dci/dc1-spine2/flash/startup-config
clab-dci/dc1-spine2/flash/system_mac_address
clab-dci/dc1-spine2/flash/aboot/update/history
clab-dci/dc1-spine2/flash/persist/clock
clab-dci/dc1-spine2/flash/persist/local
clab-dci/dc1-spine2/flash/persist/messages
clab-dci/dc1-spine2/flash/persist/secure
clab-dci/dc1-spine2/flash/persist/sys
clab-dci/dc1-spine2/flash/schedule/tech-support/dc1-spine2_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf1a/flash/.assetTags
clab-dci/dc2-leaf1a/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf1a/flash/boot-config
clab-dci/dc2-leaf1a/flash/if-wait.sh
clab-dci/dc2-leaf1a/flash/kickstart-config
clab-dci/dc2-leaf1a/flash/SsuRestore.log
clab-dci/dc2-leaf1a/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf1a/flash/startup-config
clab-dci/dc2-leaf1a/flash/system_mac_address
clab-dci/dc2-leaf1a/flash/aboot/update/history
clab-dci/dc2-leaf1a/flash/persist/clock
clab-dci/dc2-leaf1a/flash/persist/local
clab-dci/dc2-leaf1a/flash/persist/messages
clab-dci/dc2-leaf1a/flash/persist/secure
clab-dci/dc2-leaf1a/flash/persist/sys
clab-dci/dc2-leaf1a/flash/schedule/tech-support/dc2-leaf1a_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf1b/flash/.assetTags
clab-dci/dc2-leaf1b/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf1b/flash/boot-config
clab-dci/dc2-leaf1b/flash/if-wait.sh
clab-dci/dc2-leaf1b/flash/kickstart-config
clab-dci/dc2-leaf1b/flash/SsuRestore.log
clab-dci/dc2-leaf1b/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf1b/flash/startup-config
clab-dci/dc2-leaf1b/flash/system_mac_address
clab-dci/dc2-leaf1b/flash/aboot/update/history
clab-dci/dc2-leaf1b/flash/persist/clock
clab-dci/dc2-leaf1b/flash/persist/local
clab-dci/dc2-leaf1b/flash/persist/messages
clab-dci/dc2-leaf1b/flash/persist/secure
clab-dci/dc2-leaf1b/flash/persist/sys
clab-dci/dc2-leaf1b/flash/schedule/tech-support/dc2-leaf1b_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf1c/flash/.assetTags
clab-dci/dc2-leaf1c/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf1c/flash/boot-config
clab-dci/dc2-leaf1c/flash/if-wait.sh
clab-dci/dc2-leaf1c/flash/kickstart-config
clab-dci/dc2-leaf1c/flash/SsuRestore.log
clab-dci/dc2-leaf1c/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf1c/flash/startup-config
clab-dci/dc2-leaf1c/flash/system_mac_address
clab-dci/dc2-leaf1c/flash/aboot/update/history
clab-dci/dc2-leaf1c/flash/persist/clock
clab-dci/dc2-leaf1c/flash/persist/local
clab-dci/dc2-leaf1c/flash/persist/messages
clab-dci/dc2-leaf1c/flash/persist/secure
clab-dci/dc2-leaf1c/flash/persist/sys
clab-dci/dc2-leaf1c/flash/schedule/tech-support/dc2-leaf1c_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf2a/flash/.assetTags
clab-dci/dc2-leaf2a/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf2a/flash/boot-config
clab-dci/dc2-leaf2a/flash/if-wait.sh
clab-dci/dc2-leaf2a/flash/kickstart-config
clab-dci/dc2-leaf2a/flash/SsuRestore.log
clab-dci/dc2-leaf2a/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf2a/flash/startup-config
clab-dci/dc2-leaf2a/flash/system_mac_address
clab-dci/dc2-leaf2a/flash/aboot/update/history
clab-dci/dc2-leaf2a/flash/persist/clock
clab-dci/dc2-leaf2a/flash/persist/local
clab-dci/dc2-leaf2a/flash/persist/messages
clab-dci/dc2-leaf2a/flash/persist/secure
clab-dci/dc2-leaf2a/flash/persist/sys
clab-dci/dc2-leaf2a/flash/schedule/tech-support/dc2-leaf2a_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf2b/flash/.assetTags
clab-dci/dc2-leaf2b/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf2b/flash/boot-config
clab-dci/dc2-leaf2b/flash/if-wait.sh
clab-dci/dc2-leaf2b/flash/kickstart-config
clab-dci/dc2-leaf2b/flash/SsuRestore.log
clab-dci/dc2-leaf2b/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf2b/flash/startup-config
clab-dci/dc2-leaf2b/flash/system_mac_address
clab-dci/dc2-leaf2b/flash/aboot/update/history
clab-dci/dc2-leaf2b/flash/persist/clock
clab-dci/dc2-leaf2b/flash/persist/local
clab-dci/dc2-leaf2b/flash/persist/messages
clab-dci/dc2-leaf2b/flash/persist/secure
clab-dci/dc2-leaf2b/flash/persist/sys
clab-dci/dc2-leaf2b/flash/schedule/tech-support/dc2-leaf2b_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-leaf2c/flash/.assetTags
clab-dci/dc2-leaf2c/flash/AsuFastPktTransmit.log
clab-dci/dc2-leaf2c/flash/boot-config
clab-dci/dc2-leaf2c/flash/if-wait.sh
clab-dci/dc2-leaf2c/flash/kickstart-config
clab-dci/dc2-leaf2c/flash/SsuRestore.log
clab-dci/dc2-leaf2c/flash/SsuRestoreLegacy.log
clab-dci/dc2-leaf2c/flash/startup-config
clab-dci/dc2-leaf2c/flash/system_mac_address
clab-dci/dc2-leaf2c/flash/aboot/update/history
clab-dci/dc2-leaf2c/flash/persist/clock
clab-dci/dc2-leaf2c/flash/persist/local
clab-dci/dc2-leaf2c/flash/persist/messages
clab-dci/dc2-leaf2c/flash/persist/secure
clab-dci/dc2-leaf2c/flash/persist/sys
clab-dci/dc2-leaf2c/flash/schedule/tech-support/dc2-leaf2c_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-spine1/flash/.assetTags
clab-dci/dc2-spine1/flash/AsuFastPktTransmit.log
clab-dci/dc2-spine1/flash/boot-config
clab-dci/dc2-spine1/flash/if-wait.sh
clab-dci/dc2-spine1/flash/kickstart-config
clab-dci/dc2-spine1/flash/SsuRestore.log
clab-dci/dc2-spine1/flash/SsuRestoreLegacy.log
clab-dci/dc2-spine1/flash/startup-config
clab-dci/dc2-spine1/flash/system_mac_address
clab-dci/dc2-spine1/flash/aboot/update/history
clab-dci/dc2-spine1/flash/persist/clock
clab-dci/dc2-spine1/flash/persist/local
clab-dci/dc2-spine1/flash/persist/messages
clab-dci/dc2-spine1/flash/persist/secure
clab-dci/dc2-spine1/flash/persist/sys
clab-dci/dc2-spine1/flash/schedule/tech-support/dc2-spine1_tech-support_2023-11-29.1803.log.gz
clab-dci/dc2-spine2/flash/.assetTags
clab-dci/dc2-spine2/flash/AsuFastPktTransmit.log
clab-dci/dc2-spine2/flash/boot-config
clab-dci/dc2-spine2/flash/if-wait.sh
clab-dci/dc2-spine2/flash/kickstart-config
clab-dci/dc2-spine2/flash/SsuRestore.log
clab-dci/dc2-spine2/flash/SsuRestoreLegacy.log
clab-dci/dc2-spine2/flash/startup-config
clab-dci/dc2-spine2/flash/system_mac_address
clab-dci/dc2-spine2/flash/aboot/update/history
clab-dci/dc2-spine2/flash/persist/clock
clab-dci/dc2-spine2/flash/persist/local
clab-dci/dc2-spine2/flash/persist/messages
clab-dci/dc2-spine2/flash/persist/secure
clab-dci/dc2-spine2/flash/persist/sys
clab-dci/dc2-spine2/flash/schedule/tech-support/dc2-spine2_tech-support_2023-11-29.1803.log.gz
